@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=block');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=block');

html {
  background-color: antiquewhite;
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: bottom;
  height: 100%;
  font-family: 'Nunito Sans';
}
    
body {
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-areas:
    'menu main'
    'pane pane';
  margin: 0;
}
    
img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #efebe9;
}

a {
  color: #fbc02d;
  text-decoration: none;
  &:hover {
    color: #fb592d;
  }
}

textarea {
  font-family: 'Fira Mono';
  resize: none;
  outline: none;
  border-radius: inherit;
  border: none;
  padding: 10px;
  margin: 3px;
  scrollbar-width: none;
  background-color: #efebe9;
  font-size: inherit;
}

.indi {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  position: absolute;
  align-self: flex-end;
  margin: -4px;
  border: 3px solid #fffc;
  background-color: gray;
}

.user-icon {
  display: grid;
}
    
#host, #m0, #m1, #m2, #m3, #m4, #m5 {
  margin: 2px 5px;
  background-color: #fffc;
  color: #34495e;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  a {
    color: #34495e;
    text-decoration: none;
  }
  a:hover {
    color: #fbc02d;
  }
}
    
#host, #m0 {
  box-shadow: none;
  background-color: transparent;
  border: none;
  margin: 0;
  display: grid;
  justify-items: center;
}

#m1 {
  border-radius: 10px 50px 10px 10px;
}

#m5 {
  border-radius: 10px 10px 50px 10px;
}
    
#user {
  display: grid;
  margin: 10px;
}

#dot {
  display: none;
  color: white;
  background-color: salmon;
  border: 2px solid darkorange;
  border-radius: 20px;
  box-shadow: #0003 0 5px 10px -5px;
  position: absolute;
  justify-self: center;
  padding: 5px 40px;
  top: 25px;
}

#list {
  display: none;
}

.icons {
  height: 30px !important;
  width: 30px !important;
  border-radius: inherit;
  background-color: transparent;
  cursor: pointer;
}
  
.stripe {
  grid-area: menu;
  background: linear-gradient(to bottom, #ef5350, #ffb74d, #fdd835, #9ccc65, #4fc3f7, #ba68c8);
  height: 90%;
  width: 10px;
  border-radius: 20px;
  margin-left: 20px;
}
    
.divider {
  background-color: #efebe9;
}

.notif {
  display: none;
  width: 8px;
  height: 8px;
  background-color: #1470ff;
  border-radius: 10px;
}

.button {
  display: grid;
}
    
.hostbox {
  img {
    width: 65px;
    height: 65px;
  }
  #user {
    margin-bottom: 0;
  }
  .indi {
    height: 20px;
    width: 20px;
    border: 4px solid #fffc;
  }
  .crown {
    border-radius: 0;
    background: none;
    width: 40px;
    height: auto;
}
  display: grid;
  position: relative;
  align-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 50px 10px 10px 50px;
  background-color: #fffc;
  overflow: hidden;
}

.nextlist {
  margin-top: -2px;
  margin-bottom: -2px;
  display: grid;
}
    
.hostqueue {
  grid-area: main;
  display: flex;
}

.pane {
  display: grid;
  grid-gap: 30px;
  grid-area: pane;
  grid-template-areas:
    'links';
}

.links {
  grid-area: links;
  display: flex;
  font-weight: bold;
  font-size: small;
  color: #34495e;
  justify-self: center;
  padding: 10px;
  border-radius: 50px;
  box-shadow: #0003 0 5px 10px -5px;
  background-color: #f9f9f9;
}

.reminders {
  grid-area: reminders;
}

.other-page {
  grid-area: main;
  a {
    display: contents;
  }
}

.nf-page {
  grid-area: main;
  justify-content: center;
  background: none !important;
  box-shadow: none !important;
  img {
    width: auto;
    height: auto;
  }
}

.reminders, .other-page, .nf-page {
  font-weight: bold;
  font-size: small;
  color: #34495e;
  justify-self: center;
  display: grid;
  position: absolute;
  z-index: 1;
  padding: 10px;
  border-radius: 15px;
  box-shadow: #0003 0 5px 10px -5px;
  background-color: #f9f9f9;
}

.pop-up-bg {
  position: absolute;
  background-color: #3337;
  width: 100vw;
  height: 100vh;
  align-self: center;
  justify-self: center;
  z-index: 1;
}

.title {
  color: #fbc02d;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
